---
---
<!DOCTYPE html>
<html>
<head>
<title>{{ site.name }}|{{site.SEOtitle}}</title>
{% include head.tpl %}
<link rel="stylesheet" type="text/css" href="/assets/css/index.css" />

<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" />

{% include baidu-stats.tpl %}
<meta name="description" content="{{ site.description }}">
<meta name="keywords"  content="{{ site.keyword }}">
</head>

<body class="page-type-index">
<div id="page">
	<div id="card">
		<header>
			<img src="{{site.meta.gravatar}}{{site.meta.author.gravatar}}?s=80" width="80" height="80" />
			<h1 data-translate="name">{{ site.name }}</h1>
			<h2 data-translate="title">生活 读书 新知</h2>
		</header>
		<ul>
			<li id="link-works"><a href="works/"><i class="fas fa-id-card"></i><span data-translate="cv">简历</span></a></li>
			<li id="link-blog"><a href="blog/"><i class="fa fa-rss"></i><span data-translate="blog">博客</span></a></li>
			<li id="link-times" class="half"><a href="times/"><i class="fa fa-camera-retro"></i><span data-translate="times">旧时光</span></a></li>
			
			<li id="link-mail" class="quarter"><a href="mailto:" class="mail"><i class="fa fa-envelope"></i><span></span></a></li>
			<li id="link-wechat" class="quarter"><a href="https://u.wechat.com/MMtUvVMLt96teWhCwLn-khE" title="WeChat"><i class="fa fa-weixin"></i><span></span></a></li>
			<li id="link-github" class="quarter"><a href="https://github.com/plzhai" target="_blank"><i class="fa fa-github"></i><span>GitHub</span></a></li>
			<li id="link-zhihu" class="quarter"><a href="https://www.zhihu.com/people/mytharcher" target="_blank">知</a></li>
		</ul>
	</div>
</div>

<script type="text/javascript" src="/assets/js/elf-0.5.0.min.js"></script>
<script type="text/javascript" src="/assets/js/qrcode.min.js"></script>
<script type="text/javascript" src="/assets/js/site.js"></script>

{% include google-ad.tpl %}
</body>
</html>
